body {
    background-color: lightcoral;
    text-align: center;
}   

form {
    display: inline-block;
    margin-top: 50px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.specify{
    padding: 20px;
    margin: 10px;
    border: 1px solid gray;
    border-radius: px;
}

button[type="submit"] {
    background-color: coral;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: darkorange;
}

button[type="reset"] {
    background-color: lightgray;
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}
button[type="reset"]:hover {
    background-color: gray;
}

input:focus{
    border: 2px solid;
    border-color: rgb(241, 241, 7);
}
