body {
    display: flex;
    flex-direction: column;
    background-color: rgb(194, 245, 194);
    justify-content: center;
    align-items: center;
}

img {
    align-items: center;
    margin-top: 50px;
    width: 500px;
    height: 500px;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h1 {
    color:green;
    margin-top: 50px;
}

table {
    margin-top: 80px;
    border-collapse: collapse;
    text-align: center;
}

th, td {
    border: 1px solid black;   
    padding: 15px 30px;       
    font-size: 18px;          
}

th {
    background-color: #a5d6a7; 
}

table td:hover {
    background-color: #c8e6c9; 
}
